header {
  background-image: url("../images/watercolor-play.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

main {
  text-align: center;
  background-color: #f7f7f7;
}

main h2{
  font-size: 1em;
  animation: shake 3s infinite;
}

@keyframes shake {
  from{
    transform: rotate(20deg);
  }
  50%{
    transform: rotate(-20deg);
  }
  to{
    transform: rotate(20deg);
  }
}

main img{
  width: 70%;
}