header{
    background-image: url("../images/watercolor3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#ft-section {
    background-color: #6aa1ff;
}

#ft-section picture, #ec-section picture{
    margin: 20px 0;
    display: block;
    text-align: center;
}

#ft-section img {
    max-width: 600px;
    width: 60%;
    border-radius: 10px;
}

.content-card{
    color: black;
}

.content-card p{
    margin: 0 auto;
    width: 70%;
    text-align: justify;
}

#ec-section {
    background-color: rgba(224, 182, 92, 0.9);
}

#ec-section img{
    max-width: 300px;
    width: 30%;
    border-radius: 10%;
}

@media screen and (max-width: 300px) {
    picture {
      visibility: hidden;
      display: none;
    }
}

.content-card > * {
    animation-duration: 1s;
    animation-name: fadein;
}

@keyframes fadein {
    from {
        /* margin-left: 100px; */
        opacity: 0;
    }

    to {
        /* margin-left: 0; */
        opacity: 1;
    }
}