header {
  background-image: url("../images/watercolor5.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.content-card img {
  height: 10em;
  display: block;
  margin: 20px auto;
}

.content-card {
  color:black;
  background-color: rgb(175 216 202);
}

.content-card > *{
  animation-duration: 2s;
  animation-name: fadein;
}

@keyframes fadein {
  from {
      /* margin-left: 100px; */
      opacity: 0;
  }

  to {
      /* margin-left: 0; */
      opacity: 1;
  }
}